<div class="table-responsive">
  <table class="table table-bordered tbl-cart">
    <thead>
      <tr>
        <th class="hidden-xs">Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Sub Total</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in vm.cartProducts track by $index">
        <td class="hidden-xs">
          <img ng-src="{{ product.image }}" alt="product.name" width="47" height="47">
        </td>
        <td>
          {{ product.name }}
        </td>
        <td>
          <input type="number" name="quantity" value="{{ product.count }}" min="1" class="form-control" />
        </td>
        <td class="price" ng-bind="product.price"></td>
        <td>{{ product.price * product.count }}</td>
        <td class="text-center">
          <a href ng-click="vm.removeFromCart($index)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="hidden-xs"></td>
        <td colspan="3" align="right">Total</td>
        <td class="total" colspan="2"><b>$ 163.47</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>